<div class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top" style="z-index: 1000;">
  <div class="container-fluid">
    <%= link_to "/#", class: "navbar-brand" do %>
      <%= image_tag "https://assets-global.website-files.com/621aeb805857fc0c3cf0e21d/622f4c2f2ff2cc54d67f5e95_WhatsApp%20Image%202022-03-09%20at%203.18.33%20PM%20copy.jpg", style:  "max-height: 50px;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center">
        <% if user_signed_in? %>
          <% if current_user.tipo_de_usuario == 'a' %>
            <li class="nav-item">
              <%= link_to "Usuarios", user_manager_index_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Importación de CSV", new_archivo_path, class: "nav-link text-dark" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Contratos", user_contratos_path(current_user), class: "nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= link_to "Informes", archivos_path, class: "nav-link text-dark" %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger ms-2" %>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="https://www.invernea.com/" class="nav-link text-dark fontnav">Pagina principal</a>
          </li>
          <li class="nav-item">
            <%= link_to "Informes", archivos_path, class: "nav-link text-dark fontnav" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var navbarToggler = document.querySelector('.navbar-toggler');
    var navbarContent = document.getElementById('navbarSupportedContent');

    navbarToggler.addEventListener('click', function() {
      navbarContent.classList.toggle('show');
    });
  });
</script>
