<div class="container">
 <div class="row justify-content-center">
    <% @archivos.each do |archivo| %>

        <div class="card m-2 col-lg-3 col-md-5 col-sm-12">
          <div class="card-body">
            <h5 class="card-title texto-verde"><%= archivo.titulo %></h5>
            <p class="card-text texto-verde">
              <strong>Description:</strong>
              <%= archivo.descripcion.length > 50 ? archivo.descripcion.slice(0, 50) + '...' : archivo.descripcion %>
            </p>

            <div class="d-flex aling-items-center justify-content-between">
              <p class="card-text texto-verde" style="margin-bottom: 0px; "><strong>Created At:</strong> <%= archivo.created_at.strftime("%d/%m/%Y") %></p>
              <%= link_to 'Ver', archivo, class: "boton" %>
            </div>
            <% if user_signed_in? %>
              <%= link_to 'Edit', edit_archivo_path(archivo), class: "btn btn-secondary" %>
              <%= form_with(model: archivo, url: archivo_path(archivo), method: :delete, data: { confirm: 'Are you sure?' }) do |form| %>
                <%= form.submit 'Destroy', class: 'btn btn-danger' %>
              <% end %>

            <% end %>
          </div>
        </div>

    <% end %>
  </div>
</div>
