<%= form_with(model: [@user, @contrato], local: true) do |form| %>
  <div class="container mt-4">
  <h2 class="text-center mb-4">Detalles del Contrato</h2>
  <hr>

  <!-- Sección de Selección de Usuario -->
  <div class="mb-5 p-4 border rounded" style="background-color: #f8f9fa;">
    <h4 class="mb-3">Usuario</h4>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :user_id, "Seleccionar Cliente", class: "font-weight-bold" %>
          <%= form.collection_select :user_id, @users, :id, :full_name, { prompt: "Selecciona un cliente" }, { class: "form-control select2" } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección de Información Básica -->
<div class="mb-5 p-4 border rounded" style="background-color: #f8f9fa;">
  <h4 class="mb-3">Información Básica</h4>
  <div class="row">
    <div class="col-md-6">
      <%= form.label :campo, "Campo", class: "font-weight-bold" %>
      <%= form.text_field :campo, class: "form-control mb-3" %>
    </div>
    <div class="col-md-6">
      <%= form.label :capitalizador, "Capitalizador", class: "font-weight-bold" %>
      <%= form.text_field :capitalizador, class: "form-control mb-3" %>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :capitalista, "Capitalista", class: "font-weight-bold" %>
        <select id="capitalista_field" name="contrato[capitalista][]" multiple="multiple" class="form-control select2">
          <option value="Fideicomiso Financiero Invernea Ganadero, CUIT: 30-71572082-1, Domicilio: San Martin 491 piso 3 of. 8, CABA">FFIG</option>
          <option value="Invernea Proteina Pyme Serie 1 F.F., CUIT: 30-71733535-6, Domicilio: San Martin 491 piso 3 of. 8, CABA">IPS1</option>
          <option value="Invernea Proteina Pyme Serie 2 F.F., CUIT: 30-71769311-2, Domicilio: San Martin 491 piso 3 of. 8, CABA">IPS2</option>
          <option value="Invernea Proteina Pyme Serie 3 F.F., CUIT: 30-71817747-9, Domicilio: San Martin 491 piso 3 of. 8, CABA">IPS3</option>
          <option value="Invernea Proteina Pyme Serie 4 F.F., CUIT: 30-71848863-6, Domicilio: San Martin 491 piso 3 of. 8, CABA">IPS4</option>
          <option value="Otro">Otro</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <%= form.label :titulo, "Título", class: "font-weight-bold" %>
      <%= form.text_field :titulo, class: "form-control mb-3", placeholder: "Propietario/Arrendador/Explotador" %>
    </div>
    <div class="col-md-6">
      <%= form.label :provincia, "Provincia", class: "font-weight-bold" %>
      <%= form.text_field :provincia, class: "form-control mb-3" %>
    </div>
    <div class="col-md-6">
      <%= form.label :localidad, "Localidad", class: "font-weight-bold" %>
      <%= form.text_field :localidad, class: "form-control mb-3" %>
    </div>
    <div class="col-md-6">
      <%= form.label :coordenadas, "Coordenadas", class: "font-weight-bold" %>
      <%= form.text_field :coordenadas, class: "form-control mb-3" %>
    </div>
    <div class="col-md-6">
      <%= form.label :referencias_geograficas, "Referencias Geográficas", class: "font-weight-bold" %>
      <%= form.text_field :referencias_geograficas, class: "form-control mb-3", placeholder: "Distancia a CABA, etc." %>
    </div>
    <div class="col-md-6">
      <%= form.label :superficie_total, "Superficie Total (Has)", class: "font-weight-bold" %>
      <%= form.number_field :superficie_total, step: 0.1, class: "form-control mb-3" %>
    </div>
    <div class="col-md-6">
      <%= form.label :superficie_apta_uso, "Superficie Apta para Uso (Has)", class: "font-weight-bold" %>
      <%= form.number_field :superficie_apta_uso, step: 0.1, class: "form-control mb-3" %>
    </div>
    <div class="col-md-12">
      <%= form.label :descripcion_establecimiento, "Descripción Breve del Establecimiento", class: "font-weight-bold" %>
      <%= form.text_area :descripcion_establecimiento, class: "form-control mb-3", rows: 3, placeholder: "Acceso a agua, lindero a rutas, mejoras, etc." %>
    </div>
  </div>
</div>

  <!-- Sección de Vigencia -->
  <div class="mb-5 p-4 border rounded" style="background-color: #f8f9fa;">
    <h4 class="mb-3">Vigencia</h4>
    <div class="row">
      <div class="col-md-6">
        <%= form.label :vigencia_inicio, "Inicio de Vigencia", class: "font-weight-bold" %>
        <%= form.date_field :vigencia_inicio, class: "form-control mb-3" %>
      </div>
      <div class="col-md-6">
        <%= form.label :vigencia_fin, "Fin de Vigencia", class: "font-weight-bold" %>
        <%= form.date_field :vigencia_fin, class: "form-control mb-3" %>
      </div>
      <div class="col-md-6">
        <%= form.label :prorroga, "Prórroga", class: "font-weight-bold" %>
        <div class="form-check">
          <%= form.check_box :prorroga, class: "form-check-input" %>
          <%= form.label :prorroga, "Permitir prórroga", class: "form-check-label" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección de Obligaciones -->
  <div class="mb-5 p-4 border rounded" style="background-color: #f8f9fa;">
    <h4 class="mb-3">Obligaciones</h4>
    <div class="row">
      <div class="col-md-6">
        <%= form.label :obligaciones_capitalizador, "Obligaciones del Capitalizador", class: "font-weight-bold" %>
        <%= form.text_area :obligaciones_capitalizador, class: "form-control mb-3", rows: 3 %>
      </div>
      <div class="col-md-6">
        <%= form.label :obligaciones_capitalista, "Obligaciones del Capitalista", class: "font-weight-bold" %>
        <%= form.text_area :obligaciones_capitalista, class: "form-control mb-3", rows: 3 %>
      </div>
    </div>
  </div>

  <!-- Sección de Condiciones Técnicas -->
  <div class="mb-5 p-4 border rounded" style="background-color: #f8f9fa;">
    <h4 class="mb-3">Condiciones Técnicas</h4>
    <div class="row">
      <div class="col-md-4">
        <%= form.label :mortandad_tolerada, "Mortandad Tolerada (%)", class: "font-weight-bold" %>
        <%= form.number_field :mortandad_tolerada, step: 0.1, class: "form-control mb-3" %>
      </div>
      <div class="col-md-4">
        <%= form.label :mortandad_excedida, "Mortandad Excedida (%)", class: "font-weight-bold" %>
        <%= form.number_field :mortandad_excedida, step: 0.1, class: "form-control mb-3" %>
      </div>
      <div class="col-md-4">
        <%= form.label :encierre, "Encierre Permitido", class: "font-weight-bold" %>
        <div class="form-check">
          <%= form.check_box :encierre, class: "form-check-input" %>
          <%= form.label :encierre, "Permitir encierre", class: "form-check-label" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Sección de Pesaje y Control -->
  <div class="mb-5 p-4 border rounded" style="background-color: #f8f9fa;">
    <h4 class="mb-3">Pesaje y Control</h4>
    <div class="row">
      <div class="col-md-4">
        <%= form.label :frecuencia_pesaje, "Frecuencia de Pesaje", class: "font-weight-bold" %>
        <%= form.select :frecuencia_pesaje, options_for_select([["Bimestral", "bimestral"], ["Mensual", "mensual"], ["Semanal", "semanal"]], selected: @contrato.frecuencia_pesaje), { class: "form-control select2" } %>
      </div>
      <div class="col-md-4">
        <%= form.label :porcentaje_pesaje, "Porcentaje de Pesaje (%)", class: "font-weight-bold" %>
        <%= form.number_field :porcentaje_pesaje, step: 0.1, class: "form-control mb-3" %>
      </div>
      <div class="col-md-4">
        <%= form.label :desbaste, "Desbaste Estimado (%)", class: "font-weight-bold" %>
        <%= form.number_field :desbaste, step: 0.1, class: "form-control mb-3" %>
      </div>
    </div>
  </div>

    <!-- Sección de Condiciones Comerciales -->
    <div class="mb-4 p-4 border rounded" style="background-color: #f5f5f5;">
      <h4 class="mb-3 text-center">Condiciones Comerciales</h4>


      <div id="dynamic-fields-container">
        <!-- Campos dinámicos para GDPV y Porcentaje Capitalizador -->
        <div class="row mb-2">
          <div class="col-md-5">
            <label>Ganancia Diaria de Peso Vivo (gramos)</label>
            <input type="number" name="contrato[gdpv][]" class="form-control" placeholder="Ejemplo: 0.450">
          </div>
          <div class="col-md-5">
            <label>Porcentaje para el Capitalizador (%)</label>
            <input type="number" name="contrato[porcentaje_capitalizador][]" step="0.1" class="form-control" placeholder="Ejemplo: 53.5">
          </div>
          <div class="col-md-2 d-flex align-items-end">
            <button type="button" class="btn btn-danger remove-field-btn">Eliminar</button>
          </div>
        </div>
      </div>


      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary mt-3 w-100" id="add-field-btn">Agregar nuevo rango</button>
      </div>
      <div class="col-md-4 mt-4 mx-auto">
        <div class="form-group">
          <%= form.label :forma_cancelacion, "Forma de Cancelación", class: "form-label font-weight-bold" %>
          <%= form.text_field :forma_cancelacion, class: "form-control", placeholder: "Ingresa la forma de cancelación" %>
        </div>
      </div>
    </div>


    <!-- Botón de envío -->
    <div class="actions text-center mt-4">
      <%= form.submit "Guardar Contrato", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>


<script>
  $(document).ready(function() {
    // Inicializa Select2 en el campo de usuario
    $('#user_id_field').select2({
      placeholder: "Selecciona un cliente",
      allowClear: true,
      width: '100%'
    });

    // Inicializa Select2 en el campo de capitalista con selección múltiple
    $('#capitalista_field').select2({
      placeholder: "Selecciona una o más opciones",
      allowClear: true,
      width: '100%'
    });
  });

  // JavaScript para agregar y eliminar campos dinámicamente
  document.getElementById("add-field-btn").addEventListener("click", function() {
    var container = document.getElementById("dynamic-fields-container");
    var newField = document.createElement("div");
    newField.classList.add("row", "mb-2");

    newField.innerHTML = `
      <div class="col-md-5">
        <input type="number" name="contrato[gdpv][]" class="form-control" placeholder="Ejemplo: 0.450">
      </div>
      <div class="col-md-5">
        <input type="number" name="contrato[porcentaje_capitalizador][]" step="0.1" class="form-control" placeholder="Ejemplo: 53.5">
      </div>
      <div class="col-md-2 d-flex align-items-end">
        <button type="button" class="btn btn-danger remove-field-btn">Eliminar</button>
      </div>
    `;
    container.appendChild(newField);
  });

  // Eliminar campo
  document.addEventListener("click", function(event) {
    if (event.target.classList.contains("remove-field-btn")) {
      event.target.closest(".row").remove();
    }
  });
</script>


    <!-- Estilos embebidos para mejorar el diseño -->
    <style>
      .form-label {
        color: #333333;
      }
      .btn-primary {
        background-color: #007bff;
        border: none;
        transition: background-color 0.3s;
      }
      .btn-primary:hover {
        background-color: #0056b3;
      }
      .btn-danger {
        transition: background-color 0.3s;
      }
      .btn-danger:hover {
        background-color: #dc3545;
      }
      .shadow-sm {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      }
    </style>
