<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="fw-bold">Detalles del Contrato de Capitalización</h1>
    <button id="printButton" class="btn btn-primary">
      <i class="bi bi-printer"></i> Imprimir PDF
    </button>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h3 class="card-title">Información General</h3>
      <p class="card-text">
        <strong>Fecha:</strong> <%= @contrato.created_at.present? ? @contrato.created_at.strftime("%d de %B de %Y") : "Fecha no especificada" %>
      </p>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h3 class="card-title">Datos del Establecimiento</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Título:</strong> <%= @contrato.titulo %></li>
        <li class="list-group-item"><strong>Provincia:</strong> <%= @contrato.provincia %></li>
        <li class="list-group-item"><strong>Localidad:</strong> <%= @contrato.localidad %></li>
        <li class="list-group-item"><strong>Coordenadas:</strong> <%= @contrato.coordenadas %></li>
        <li class="list-group-item"><strong>Referencias Geográficas:</strong> <%= @contrato.referencias_geograficas %></li>
        <li class="list-group-item"><strong>Superficie Total:</strong> <%= @contrato.superficie_total %> Has</li>
        <li class="list-group-item"><strong>Superficie Apta para Uso:</strong> <%= @contrato.superficie_apta_uso %> Has</li>
        <li class="list-group-item"><strong>Descripción del Establecimiento:</strong> <%= @contrato.descripcion_establecimiento %></li>
      </ul>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h3 class="card-title">Partes Involucradas</h3>
      <p class="card-text"><strong>Capitalizador:</strong> <%= @contrato.capitalizador %></p>
      <h4>Capitalista</h4>
      <table class="table table-striped table-bordered mt-3">
        <thead class="">
          <tr>
            <th>Nombre</th>
            <th>CUIT</th>
            <th>Domicilio</th>
          </tr>
        </thead>
        <tbody>
          <% JSON.parse(@contrato.capitalista).each do |capitalista_info| %>
            <% nombre, cuit, domicilio = capitalista_info.split(", ") %>
            <tr>
              <td><%= nombre %></td>
              <td><%= cuit.gsub("CUIT: ", "") %></td>
              <td><%= domicilio.gsub("Domicilio: ", "") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h3 class="card-title">Vigencia</h3>
      <% if @contrato.vigencia_inicio.present? %>
        <p class="card-text"><strong>Fecha de Inicio:</strong> <%= @contrato.vigencia_inicio.strftime("%d de %B de %Y") %></p>
        <p class="card-text"><strong>Fecha de Finalización:</strong> <%= @contrato.vigencia_fin.strftime("%d de %B de %Y") %></p>
      <% end %>
      <p class="card-text"><strong>Prórroga:</strong> Las partes podrán prorrogar la presente por periodos iguales, mediando acuerdo expreso antes del vencimiento. La Carta Oferta no podrá ser rescindida unilateralmente, salvo incumplimiento.</p>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h3 class="card-title">Condiciones Técnicas</h3>
      <h4>Obligaciones del Capitalizador</h4>
      <p class="card-text"><%= @contrato.obligaciones_capitalizador %></p>

      <h4>Obligaciones del Capitalista</h4>
      <p class="card-text"><%= @contrato.obligaciones_capitalista %></p>

      <p class="card-text"><strong>Mortandad Tolerada:</strong> <%= @contrato.mortandad_tolerada %>%</p>
      <p class="card-text"><strong>Mortandad Excedida:</strong> <%= @contrato.mortandad_excedida %>% (a cargo del capitalizador)</p>
      <p class="card-text"><strong>Encierre:</strong> <%= @contrato.encierre ? 'Permitido bajo acuerdo' : 'No permitido' %></p>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h3 class="card-title">Pesajes y Control</h3>
      <p class="card-text"><strong>Frecuencia de Pesaje:</strong> <%= @contrato.frecuencia_pesaje.capitalize %></p>
      <p class="card-text"><strong>Porcentaje de Pesaje:</strong> <%= @contrato.porcentaje_pesaje %>%</p>
      <p class="card-text"><strong>Desbaste Estimado:</strong> <%= @contrato.desbaste %>%</p>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h3 class="card-title">Condiciones Comerciales</h3>
      <% if @contrato.gdpv.present? and @contrato.porcentaje_capitalizador.present? %>
        <table class="table table-bordered table-striped mt-3">
          <thead class="table-light">
            <tr>
              <th scope="col">Ganancia Diaria de Peso Vivo (GDPV)</th>
              <th scope="col">Porcentaje para el Capitalizador (%)</th>
            </tr>
          </thead>
          <tbody>
            <% JSON.parse(@contrato.gdpv).each_with_index do |gdpv, index| %>
              <tr>
                <td><%= gdpv %> gramos</td>
                <td><%= JSON.parse(@contrato.porcentaje_capitalizador)[index] %>%</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p class="card-text"><strong>Forma de Cancelación:</strong> <%= @contrato.forma_cancelacion %></p>
      <% else %>
        <p class="card-text text-muted">Condiciones comerciales no especificadas</p>
      <% end %>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <h3 class="card-title">Aceptación de Términos</h3>
      <p class="card-text"><strong>Aceptó los Términos:</strong> <%= @contrato.acepto_terminos ? 'Sí' : 'No' %></p>
      <% if @contrato.fecha_de_aceptacion.present? %>
        <p class="card-text"><strong>Fecha de Aceptación:</strong> <%= @contrato.fecha_de_aceptacion.strftime("%d de %B de %Y") %></p>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-between mt-4">
    <%= link_to 'Volver a la lista', user_contratos_path(@user), class: 'btn btn-secondary mt-4', id: 'volverlist' %>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const printButton = document.getElementById("printButton");

    printButton.addEventListener("click", function() {
      window.print(); // Activa la función de impresión del navegador
    });
  });


  document.addEventListener("DOMContentLoaded", function() {
    var checkbox = document.getElementById("accept_terms_checkbox");
    var submitButton = document.getElementById("submit_button");

    checkbox.addEventListener("change", function() {
      submitButton.disabled = !checkbox.checked;
    });
  });

</script>
