<!DOCTYPE html>
<html>
  <head>
    <title>Inverneatec</title>
    <!-- Agregar jQuery desde CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Agregar Bootstrap desde CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    <!-- Agregar Select2 desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.bundle.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.min.js.map' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.js.map' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js.map' %>
    <%= javascript_include_tag 'https://unpkg.com/chartkick/dist/chartkick.js' %>
    <link href="https://assets-global.website-files.com/621aeb805857fc0c3cf0e21d/627dcc53a1967504a64c0c5a_Favi.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
    <%= render "shared/flashes" %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "shared/navbar" %>

    <!-- Contenido principal -->
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/footer" %>

    <!-- Otras etiquetas body... -->
  </body>


</html>
<script>
  $(document).ready(function() {
    $('.select2').select2({
      placeholder: "Selecciona",
      allowClear: true,
      width: '100%' // Asegura que el selector ocupe todo el ancho del campo
    });
  });

</script>
