<!DOCTYPE html>
<html>
  <head>
    <title>Inverneatec</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.bundle.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.min.js.map' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.esm.js.map' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js.map' %>
    <%= javascript_include_tag 'https://unpkg.com/chartkick/dist/chartkick.js' %>
    <link href="https://assets-global.website-files.com/621aeb805857fc0c3cf0e21d/627dcc53a1967504a64c0c5a_Favi.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
    <%= render "shared/flashes" %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render "shared/navbar" %>

    <!-- Contenido principal -->
    <main class="flex-grow-1">
      <%= yield %>
    </main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render "shared/footer" %>

    <!-- Otras etiquetas body... -->
  </body>


</html>
